.character-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.character-list .character {
  display: flex;
  position: relative;
  padding: 6px 0 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}
.character-list .character:hover {
  filter: brightness(1.1);
}
.character-list .character[data-rarity="5"] {
  background: var(--five-star-gradient);
}
.character-list .character[data-rarity="4"] {
  background: var(--four-star-gradient);
}

.character-list .character-name {
  position: absolute;
  bottom: 16px;
  color: var(--color-text-inverted);
  font-weight: 700;
  font-size: 1rem;
  padding: 12px 6px 2px;
  background: linear-gradient(transparent, #ffffffaa, #ffffffaa);
  width: 100%;
  font-size: 1.125rem;
  line-height: 1.5;
  user-select: none;
}
