.potential-card {
  display: flex;
  width: 100%;
  user-select: none;
  cursor: pointer;
  transition: 0.15s;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.potential-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #00000000;
  transition: 0.15s;
  pointer-events: none;
}

.potential-card[data-selected="false"]::after {
  background-color: #00000080;
}

.potential-card[data-obtained="true"] {
  box-shadow:
    inset 0 0 0 2px #000,
     0 0 0 0.22vw #ff0;
}

.potential-card[data-disabled="true"] {
  cursor: not-allowed;
}

.potential-card .background {
  max-width: 100%;
  max-height: 100%;
  z-index: -1;
}

.potential-card .icon {
  position: absolute;
  inset: 0;
}

.potential-card .name {
  position: absolute;
  bottom: 3%;
  left: 3%;
  right: 3%;
  color: #111;
  font-weight: 500;
  font-size: 0.66vw;
  line-height: 1;
  text-align: center;
}

.potential-card .priority {
  position: absolute;
  top: 1%;
  left: 3%;
  color: red;
  font-weight: 900;
  font-size: 0.75vw;
  line-height: 1;
  text-transform: uppercase;
}
