.potential-card {
  display: flex;
  width: 100%;
  user-select: none;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.potential-card[data-selected="false"] {
  opacity: 0.4;
}

.potential-card[data-obtained="true"] {
  box-shadow:
    0 0 6px 4px #ffff00dd,
    inset 0 0 0 2px #ff0;
}

.potential-card[data-disabled="true"] {
  cursor: not-allowed;
}

.potential-card .background {
  max-width: 100%;
  max-height: 100%;
  z-index: -1;
}

.potential-card .icon {
  position: absolute;
  inset: 0;
}

.potential-card .name {
  position: absolute;
  bottom: 3%;
  left: 3%;
  right: 3%;
  color: #111;
  font-weight: 500;
  font-size: 0.66vw;
  line-height: 1;
  text-align: center;
}
