#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.save-container {
  padding: 10px;
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 600px;
  gap: 12px;
}
