#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  padding: 1vw;
}

.main-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.save-container {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 1200px;
  gap: 20px;
}
