main {
  width: 100%;
  min-width: 400px;
  margin: 0 auto;
  padding: 1vw;
}

.main-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.main-description {
  text-align: center;
}

.main-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 1vw;
}

@media (max-width: 959px) {
  main {
    padding: 3vw;
  }

  .main-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
